@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Dosis:wght@200..800&family=Rajdhani:wght@300;400;500;600;700&display=swap');

.chakra-petch-light {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .chakra-petch-regular {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .chakra-petch-medium {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .chakra-petch-semibold {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .chakra-petch-bold {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
	font-style: normal;
  }
  
  .chakra-petch-light-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 300;
	font-style: italic;
  }
  
  .chakra-petch-regular-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 400;
	font-style: italic;
  }
  
  .chakra-petch-medium-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 500;
	font-style: italic;
  }
  
  .chakra-petch-semibold-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 600;
	font-style: italic;
  }
  
  .chakra-petch-bold-italic {
	font-family: "Chakra Petch", sans-serif;
	font-weight: 700;
	font-style: italic;
  }





  

  .rajdhani-light {
	font-family: "Rajdhani", sans-serif;
	font-weight: 300;
	font-style: normal;
  }
  
  .rajdhani-regular {
	font-family: "Rajdhani", sans-serif;
	font-weight: 400;
	font-style: normal;
  }
  
  .rajdhani-medium {
	font-family: "Rajdhani", sans-serif;
	font-weight: 500;
	font-style: normal;
  }
  
  .rajdhani-semibold {
	font-family: "Rajdhani", sans-serif;
	font-weight: 600;
	font-style: normal;
  }
  
  .rajdhani-bold {
	font-family: "Rajdhani", sans-serif;
	font-weight: 700;
	font-style: normal;
  }





  /* <uniquifier>: Use a unique and descriptive class name
  <weight>: Use a value from 200 to 800 */

.dosis-200 {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}
.dosis-300 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 300;
	font-style: normal;
  }
  .dosis-400 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
  }
  .dosis-500 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 500;
	font-style: normal;
  }
  .dosis-600 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
  }
  .dosis-700 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 700;
	font-style: normal;
  }
  .dosis-800 {
	font-family: "Dosis", sans-serif;
	font-optical-sizing: auto;
	font-weight: 800;
	font-style: normal;
  }

  /* html{
	scroll-snap-type: y mandatory;
  }
  .ksnap{
	scroll-snap-align: start;
  } */
  